* :focus{
    outline-color:  darkorange;
}
main{
    margin-bottom: 2%;
}
a:focus{
    outline-color: blue;
}
h4{
    color: #901C1C;
}
h5{
    color: #901C1C;
}
.contact_button-1:hover{
    background: #D3573C;
    color: black;
}
.contact_button-1:focus{
    background: #D3573C;
    color: black;
}

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    margin: 0 10%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    padding: 5%;
    margin-bottom: 30px;
}
.photograph-header :only-child{
    margin: 2%;
}



.photo-section{
    margin-top: 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}
@media only screen and (max-width: 600px) {
    .photo-section{
        flex-direction: column;
    }
    article{
        min-width: 100%;
    }
    .photograph-header {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
  }

  @media only screen and (max-width: 992px) and (min-width : 600px) {
    
    article{
        min-width: 45%;
    }
    .photograph-header {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
  }

article{
    width: 30%;
    display: flex;
    flex-direction: column;
}


.legend{
    display: flex;
    justify-content: space-between;
}
.div-bg{
    width: 250px;
    height : 250px;
}

.triSection{
    display: flex;
    margin-left: 10%;
    margin-bottom: 20px;
   
}


.triButton{
    background: #901C1C;
    color: white;
    border-radius: 5%;
    padding: 2px 2px;
    display: flex;
    margin-left: 2%;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}


.optionButton{
    margin: 5px;
    padding: 7px 0;
    display: flex;
}
.optionButton :hover{
    cursor: pointer;
}
.border-button{
    border-top: 1px  solid white;
    border-bottom: 1px  solid white;
}

.like-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.like-box :only-child{
    margin-right: 10px;
}


.photograph-thumbnail :only-child{
   
    justify-content: center;
}

.photograph-thumbnail{
    display: flex;
    justify-content: center;
}
.photograph-thumbnail img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.photographer_tagline {
    font-size: 10px;
}
.photographer_name {
    color: #DE573C;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    justify-self: center;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    position: absolute;
    top: 2%;
    left: 20%;
    z-index: 35;

}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin: 5%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}


form {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.heart{
    color: #901C1C;
}
.fullHeart{
    color: #901C1C;
}
.thumbnail{
    display: flex;
    justify-content: space-evenly;
    z-index: 4;
    position: fixed;
    right: 5%;
    bottom: 0;
    background-color: #DB8876;
    width: 17%;
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;
}
.lightbox{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    position: fixed;
    left: 0%;
    top: 0%;
    background: white;
    z-index: 50;
    width: 100%;
    height: 100%;
}

.lightbox-media{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.lightbox-media img{
    width: 90%;
    height: 90%;
    margin: auto ;
    border-radius: 5px;
    
}
.lightbox-media video{
    width: 90%;
    height: 90%;
    margin: auto ;
    border-radius: 5px;
   
}
.lightbox h4{
    margin-left: 15%;

}
.lightboxImg{
    display: flex;
    flex-direction: column;
    width: 70%;
}


.lightbox:only-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.crossBtn{
    display: block;
    z-index: 55;
    position: fixed;
    top: 10%;
    right: 10%;
    color: #901C1C;
    font-size: 30px;
    cursor: pointer;
}

.media {
    width: 100%;
    height: 300px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 5px;
}
img{
    width: fit-content;
    height: fit-content;
    object-fit: cover;
}
.hidden{
    display: none;
}
.visible{
    display: flex;
}
.visible :only-child{
    width: 50%;
    height: auto;
}
.cursor-pointer{
    cursor: pointer;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.9em;
    font-weight: bold;
    color: black;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
  }
 
  .thanksMessage{
      display: flex;
      justify-content: center;
      margin: auto;
      font-size: 45px;
      color: black;
  }

.fa-chevron-left{
    cursor: pointer;
    color: #901C1C;
}
.fa-chevron-right{
    cursor: pointer;
    color: #901C1C;
}
