@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 13px;
    color: #901C1C;
}
a {
    text-decoration: none;
    color: black;
}

.logo {
    height: auto;
    width: 180px;
    margin-left: 100px;
}

.photographer_section {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

.photographer_article{
    text-align: center;
}
.photographer_article :only-child{
    margin: 0;
}
.photographer_thumbnail :only-child{
    border-radius: 50%;
    box-shadow: 1px 8px 20px 1px rgba(0,0,0,0.25);
}
.header-box-location{
    font-size: 24px;
}
.photographer_tagline {
    font-size: 18px;

}
.photographer_price {
    font-size: 12px;
    color: #757575;
}
img{
    object-fit: cover;
}



/*Modal RC Styles*/
.modal-rc{
    z-index: 100;
    position: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 15px;
    box-shadow: 2px 1px 16px 3px #62825d;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
  
  .modal-rc-close-btn{
    align-self: flex-end;
    font-size: 26px;
    margin-bottom: 15px;
    cursor: pointer;
  }
  
  .modal-rc-title {
    font-size: 18px;
  }
  
  .modal-rc-btn{
    padding: 12px;
    border-radius: 15px;
    background-color: white;
    color: black;
    min-width: 25%;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    font-size: 16px;
  }
  .modal-rc-btn:hover{
    background-color: rgb(6, 5, 5);
    color: white;
    box-shadow: 0px 0px 8px 2px #ffffff71;
  }
  .modal-rc-btn:active{
    background-color: rgb(6, 5, 5);
    color: white;
    box-shadow: 0px 0px 1px 2px #ffffffc8;
  }
  .hidden{
    display: none;
  }
  /*-------------------------*/